<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>

<body>
	<h2>dear Хуйло!</h2>
	<p>look what happened to your troops</p>
	💩💩💩💩💩💩💩💩💩💩<br>
	<a href="https://t.me/rf200_now/316">https://t.me/rf200_now/316</a><br>
	💩💩💩💩💩💩💩💩💩💩<br>
	<a href="https://t.me/rf200_now/316">https://t.me/rf200_now/316</a><br>
	💩💩💩💩💩💩💩💩💩💩<br>
	<a href="https://t.me/rf200_now/276">https://t.me/rf200_now/276</a><br>
	💩💩💩💩💩💩💩💩💩💩<br>
	<a href="https://t.me/rf200_now/265">https://t.me/rf200_now/265</a><br>
	💩💩💩💩💩💩💩💩💩💩<br>
	<a href="https://t.me/rf200_now/266">https://t.me/rf200_now/266</a><br>
	💩💩💩💩💩💩💩💩💩💩<br>
	<a href="https://t.me/rf200_now/238">https://t.me/rf200_now/238</a><br>
	💩💩💩💩💩💩💩💩💩💩<br>
	<a href="https://t.me/rf200_now/224">https://t.me/rf200_now/224</a><br>
	💩💩💩💩💩💩💩💩💩💩<br>
	<a href="https://t.me/rf200_now/216">https://t.me/rf200_now/216</a><br>
	<p>u fucking next and warm up your mount out dicks are really huge</p><br>
	👄👅👄👅👄👅👄👅👄👅
</body>

</html>